---
title: Mutual | Mapping Your Community
layout: home
---
<div id="particles-header" class="full-panel">
    <div id="landing-header">
        <span class="block-line-1">We all have our communities at Whitworth.</span>
        <span class="block-line-2">Map yours on</span>
        <span class="block-line-3">MUTUAL</span>
        <span class="block-line-4">Get started <a href="https://forms.gle/BZyxPAiBDeBAm9bY6" target="_launch">here</a>, or scroll to learn more.</span>
    </div>
</div>
{% include info-panel.html 
    align="left"
    color="orange"
    linkText="null"
    section-title="About the Project"
    content-1="MUTUAL is a project by Kostiantyn Makrasnov and Eli Min, both Class of '21, that aims to visualize how people know each other at Whitworth. To do the project, they plan to collect user data, store it in a mySQL database, and use data visualization techniques with Python to produce maps of their findings."
    content-2="Beyond the scope of the project, they hope to use the work done here to generate recommendations for who you should get to know based on your mutual friends."    %}

{% include info-panel.html 
    align="right"
    color="blue"
    link-text="this short form."
    link="https://forms.gle/BZyxPAiBDeBAm9bY6"
    section-title="How to Contribute"
    content-1="Contributors will be entered into a raffle for 1 of 2 $20 cash prizes for each friend they refer. To enter, fill out "
    content-2="The form will take about 10 minutes to complete. It will ask for some information about you and where you make friends at Whitworth as well as email addresses from some of your friends. This will send them an invitation to participate in the program. The developers pledge not to sell your data to third-parties."    %}

{% include wideset-panel.html 
    section-title="Results"
    content-1="Coming soon! Results will be posted here after the project is over, and an email notification will be sent to every participant in the program. Data in the results will be anonymized."
    content-2=""    %}
    
{% include footer.html %}
