.footer {
    display: flex; 
    justify-content: space-between; 
    background-color: $dark-accent;
    color: rgb(106, 106, 106); 
    padding: 0.5em 1.5em; 
    p, span {
        font-family: $loose-text; 
        letter-spacing: 0.03em; 
        font-size: 1.05em; 
        margin: 0; 
    }
}